h1
{
color: lime;
}

a
{
color: yellow;
}

body
{
background: grey;
font-family: 'Brygada 1918', serif;
font-size: 14pt;
}

h3
{
color: darkblue;
}
h4
{
color: darkblue;	
}
h2
{color: darkblue;
}